body {
  font-family: Poppins;
  background-image: url("../img/bg.png");
  background-size: 100%;
}

nav {
  transition: left 0.3s ease; /* Menambahkan transisi pada perubahan posisi */
}

.nav-menu-d a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffff;
  transition: width 0.3s;
}

.nav-menu-d a:hover::after {
  width: 100%;
}

.nav-menu-m a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s;
}

.nav-menu-m a:hover::after {
  width: 100%;
}

/* Hero section */
.hero {
  background: linear-gradient(132deg, #1dacd3, #154473, #23a1c6);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.card {
  background: linear-gradient(132deg, #1dacd3, #154473, #23a1c6);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.ixdim-logo {
  width: 40rem; /* Sesuaikan lebar dan tinggi sesuai kebutuhan */
  height: 40rem;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFFFFF' d='M72,-23C81.2,5.2,68.4,40.9,43.7,58.5C18.9,76.1,-17.9,75.6,-41.4,58.2C-64.9,40.8,-75.3,6.5,-66.2,-21.4C-57.1,-49.3,-28.5,-70.7,1.4,-71.1C31.3,-71.6,62.7,-51.1,72,-23Z' transform='translate(100 100)' /%3E%3C/svg%3E");
  background-size: cover; /* atau sesuaikan sesuai kebutuhan */
  background-repeat: no-repeat;
}

/* Slide Animation ------------------------------------------------*/

/* --------------------------------------------------------------- */

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Scrolling animated */
.sec-3 .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 1.5s;
  transform: translateX(-100%);
}

.sec-3.show-animate .animate {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

.sec-4 .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 1.5s;
  transform: scale(0.7);
}

.sec-4.show-animate .animate {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}
