body {
  font-family: Poppins;
}

/* Hero section */
.hero {
  background: linear-gradient(132deg, #1dacd3, #154473, #23a1c6);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.card {
  background: linear-gradient(132deg, #1dacd3, #154473, #23a1c6);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Scrolling animated */
.sec-3 .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 1.5s;
  transform: translateX(-100%);
}

.sec-3.show-animate .animate {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

.sec-4 .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 1.5s;
  transform: scale(0.7);
}

.sec-4.show-animate .animate {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
}
